header {
  background-color: var(--color-primary);
  height: 60px;
  display: flex;
  align-items: center;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.nav-content h1 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}
.contato-container {
  display: flex;
  align-items: center;
}
.contato-container_link {
  margin: 0 0 0 10px;
  font-size: 12px;
}
